#background{
    width: 99%;
    height: 97vh;
    margin: auto;
    text-align: center;
    border-style: double;
    border-width: 5px;
    border-color: black;
}
#logo{
    padding-top: 3%;
    padding-bottom: 2%;
    border-bottom: 3px solid black;
    width: 50%;
    margin: auto;
}
#mainhead1{
    top: 10px;
    position: relative;
    letter-spacing: 4px;
    font-size: 150%;
    font-weight: 900;
    font-family: monospace;
    display: inline-block;
}
#mainhead2{
    display: block;
    font-family: cursive;
    font-size: 250%;
    letter-spacing: 6px;
    font-weight: 900;
}
#mainhead3{
    display: block;
    bottom: 4px;
    position: relative;
    letter-spacing: 9px;
    font-size: 150%;
    font-weight: 900;
    font-family: monospace;
    display: inline-block;
}
ul{
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
li{
    display: inline-block;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
    font-family: system-ui;
}
#home{
    color: #cb857e;
}
.padright{
    padding-right: 80px;
}
#navbar{
    width: 50%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 2px solid black;

}
*{
    margin: 0;
    padding: 0;
}
#imagebox{
    margin-top: 2%;
    margin-bottom: 2%;
}
body{
    margin: 3px;
}
#last{
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
}
#lastpara{
    font-weight: 600;
    font-size: 105%;
    line-height: 20px;
    font-family: monospace;
}