body{
    background-color: black;
    color: white;
    font-family: fangsong;
}
.first{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
button{
    cursor: pointer;
}