:root{
    --black: #000000;
    --white: #ffffff;
    --red:   #ed1c24;
    --green: #28a745;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --secondary: #6c757d;
    --dark: #343a40;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Lato', sans-serif;
}
.notextdeco{
    text-decoration: none;
    color: inherit;
}
.listtypenone{
    list-style-type: none;
}
#logo{
    height: 75px;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 20px 0px;
}
.navbar{
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-items{
    display: flex;
    gap: 30px;
    align-items: center;
}
#buttons{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
#firstbutton{
    padding: 15px 30px 15px 30px;
    border: 1px solid var(--white);
    border-radius: 35px;
}
#secondbutton{
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 16px 22px 16px 22px;
    border-radius: 25px;
}
.secondbutton-arrow{
    background-color: #fff;
    color: #dc3545;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
#firstbutton:hover{
    color: var(--white);
    background-color: var(--red);
    border: none;
}
#secondbutton:hover{
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
}
#banner{
    width: 100%;
}
.hover:hover{
    color: var(--red);
}
#welcome-outside{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-bottom: 10%;
}
#welcome-main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#welcome-text{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    line-height: 50px;
}
.logo-text{
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 62px;
    color: var(--red);
    font-family: 'Black Ops One', system-ui;
}
.order-now{
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 174px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 37px;
    text-align: center;
}
.order-now:hover{
    border: none;
    background-color: var(--red);
}
.order-images-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#product-brand{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.order-images{
    background-color: var(--white);
    border-radius: 5px;
    padding: 5px 19px;
    width: 250px;
    height: 140px;
}
#product-brand-main{
    width: 80%;
    margin: auto;
    text-align: center;
}
#first-franchise-outside{
    background-color: rgba(255, 255, 255, 0.06);
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#large-s{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 23%;
}
.first-franchise-main-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.franchise-text{
    font-size: 52px;
    font-family: 'Black Ops One', system-ui;
}
.franchise-text2{
    font-size: 48px;
    font-family: 'Lato' , sans-serif;
}
.welcome-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}
#first-franchise-main{
    gap: 45px;
    flex-direction: column;
    display: flex;
    width: 71.5%;
    margin: 0 auto;
    text-align: center;
}
.first-franchise-main-side-text-one{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    color: var(--red);
    margin-bottom: 8px;
    display: block;
}
.first-franchise-main-first{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.first-franchise-main-side-text-two-a{
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    font-family: 'Black Ops One', system-ui;
}
.first-franchise-main-side-text-two{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    display: block;
}
.first-franchise-main-side{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}
.first-franchise-main-side-text-three{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
.first-franchise-main-side-text-four{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}
.fa-phone{
    transform: rotate(90deg);
}
.first-franchise-first-button{
    padding: 15px 30px 15px 30px;
    border: 1px solid var(--white);
    border-radius: 35px;
}
.first-franchise-first-button:hover{
    color: var(--white);
    background-color: var(--red);
    border: none;
}
#first-franchise-img-one{

}
#first-franchise-main-second{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 33px;
}
#second-franchise-outside{
    background-color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#large-p{
    position: absolute;
    left: 32px;
    top: 32px;
    width: 23%;
}
#second-franchise-main{
    gap: 45px;
    flex-direction: column;
    display: flex;
    width: 71.5%;
    margin: 0 auto;
    text-align: center;
}
.second-franchise-main-side-text-one{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    color: var(--red);
    margin-bottom: 8px;
    display: block;
}
#second-franchise-main-first-a{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#second-franchise-main-first{
    display: flex;
    justify-content: space-between;
}