*{
    text-align: center;
}
span{
    display: inline-block;
    padding: 9px;
    font-size: 20px;
    margin: 0;
}
div{
    height: 41px;
    background-color: #cccccc;
    margin: auto;
    width: fit-content;
    top: 10vh;
    position: relative;
    display: flex;
}
#span1{
    background-color: #a4dd9e;
}
#span2{
    background-color: #72a3de;
}
a{
    text-decoration: none;
    color: black;
}