:root {
    --bs-tertiary-bg-rgb: 248, 249, 0 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7fa !important;
}

.logo {
    height: 24px;
}

.arabic {
    font-weight: 600;
    font-family: Cairo;
    cursor: pointer;
}

.nav-border {
    display: flex;
    margin: 0px 10px;
    border-left: 1px solid rgba(64, 69, 83, 0.3);
    height: 20px;
    align-self: center;
}

.navbar-text {
    font-weight: bold;
    flex: 1 1 0%;
    font-size: 1.08333rem;
    text-align: right;
    max-width: 130px;
    position: relative;
    bottom: 2px;
}

.log-in-img {
    width: 17px;
    margin-left: 8px;
    position: relative;
    bottom: 2px;
}

.all-categories {
    width: 15%;
}

.mynavbottom {
    width: 85%;
}

.liststyletypenone {
    list-style-type: none;
}

.second-nav {
    background-color: #fcfbf4;
    padding: 1rem;
}

.drop-end {
    margin-left: 5px;
    background-color: #fcfbf4;
    border: none;
    font-size: 17px;
}

.notextdeco {
    text-decoration: none;
    color: inherit;
}

.bold-on-hover:hover {
    border-left: 1px solid gray;
    padding: 0px 15px;
    border-right: 1px solid gray;
    font-weight: bold;
}

.left-banner{
    width: 70%;
}

.right-banner{
    width: 30%;
}

.r-b-images{
    width: 50%;
}

.banner-small-images{
    width: 7%;
}

.banner-categories{
    background-color: #feeaea;
    padding-top: 15px;
    padding-bottom: 32px;
    justify-content: space-around;
}

.mega-deals{
    width: 32.5%;
}

.mega-deals-in{
    background-color: #fcd5d5;
    padding: 7px 1rem 1rem 1rem;
}

.in-focus-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(64, 69, 83);
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}

.in-focus-container{
    background-color: white;
    padding: 1rem;
}

.in-focus-img{
    margin-bottom: 1rem;
}

.gap-8rem{
    gap: 1rem;
}

.m-r-t-shop{
    width: 48%;
}

.mega-deals-inside-products-img-container{
    background-color: white;
}

.cart-out{
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.one-zero-four-nine{
    text-decoration: line-through;
    text-decoration-color: red;
    font-weight: 700;
    font-size: smaller;
}

.eight-nine-nine{
    font-weight: 700;
    font-size: larger;
}

.card-text-my{
    line-height: 1.2;
    font-weight: 500;
    -webkit-box-flex: 1;
    flex-grow: 1;
    letter-spacing: 0.2px;
    padding: 0px 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.cart-add{
    width: 1.5rem;
    max-width: unset;
    height: 1.5rem;
    max-height: unset;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
}

.all-deals-btn{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7.5px 15px;
    color: rgb(255, 255, 255);
    background-color: #4a4a4a;
}


.width-49{
    width: 49%;
}

.object-fit{
    object-fit: cover;
}

.in-focus-text-3{
    margin-bottom: 0.5rem;
}




















@media (max-width: 750px) {
    .second-nav{
        padding: 0.4rem 1rem;
    }
}
@media (max-width: 1280px) {
    html{
        font-size: 95%;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 92%;
    }
}
@media (max-width: 1100px) {
    html{
        font-size: 87%;
    }
}
@media (max-width: 1000px) {
    html{
        font-size: 82%;
    }
    .in-focus-text{
        margin-bottom: 1.45rem;
    }
    .in-focus-text-3{
        margin-bottom: 1.3rem;
    }
    .in-focus-img {
        flex-wrap: wrap;
    }
    .m-r-t-shop {
        width: 65%;
    }
    .my-wrap{
        flex-wrap: wrap;
    }
    .my-wrap-2{
        row-gap: 1rem;
    }
    .width-49{
        margin: 0 auto;
        width: 65%;
    }
    .card-text-my{
        padding-bottom: 2px;
        font-size: 1rem;
    }
}
@media (max-width: 800px) {
    html{
        font-size: 72%;
    }
}
@media (max-width: 1100px) {
    .han {
        display: none;
    }
}

@media (max-width: 1150px) {
    .cart-add{
        right: 0.3rem;
    }
}

@media (max-width: 958px) {
    .sp {
        display: none;
    }

    .nav-side-div {
        width: 17%;
    }
}

@media (max-width: 867px) {
    .nav-side-div {
        width: 20%;
    }

    .to {
        display: none;
    }
}

@media (max-width: 764px) {
    .nav-side-div {
        width: 23%;
    }

    .ba {
        display: none;
    }

    .drop-end {
        margin-left: 4px;
    }
}

@media (max-width: 688px) {
    .nav-side-div {
        width: 35%;
    }

    .baf {
        display: none;
    }
}

@media (max-width: 511px) {
    .nav-side-div {
        width: 45%;
    }
}

@media (max-width: 511px) {
    .nav-side-div {
        width: 50%;
    }

    .wom {
        display: none;
    }
}

@media (max-width: 412px) {
    .nav-side-div {
        width: 65%;
    }
}

@media (max-width: 412px) {
    .nav-side-div {
        width: 75%;
    }

    .mn {
        display: none;
    }
}